/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #FFF;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 14px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input,
textarea {
  color: #333;
  font-family: "PT Sans", Arial, sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

td {
  margin: 0px;
  padding: 0px;
}

form {
  padding: 0px;
  margin: 0px;
}

a {
  color: #171717;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  color: #cb944c;
}

a,
span,
div,
button {
  outline: none !important;
}

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans Light.eot");
  src: url("../fonts/Open Sans Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Light.woff") format("woff"), url("../fonts/Open Sans Light.ttf") format("truetype"), url("../fonts/Open Sans Light.svg#Open Sans Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans Bold.eot");
  src: url("../fonts/Open Sans Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Bold.woff") format("woff"), url("../fonts/Open Sans Bold.ttf") format("truetype"), url("../fonts/Open Sans Bold.svg#Open Sans Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans.eot");
  src: url("../fonts/Open Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans.woff") format("woff"), url("../fonts/Open Sans.ttf") format("truetype"), url("../fonts/Open Sans.svg#Open Sans") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PTSansItalic";
  src: url("../fonts/PTSansItalic.eot");
  src: url("../fonts/PTSansItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansItalic.woff") format("woff"), url("../fonts/PTSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("../fonts/PTSansBold.eot");
  src: url("../fonts/PTSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansBold.woff") format("woff"), url("../fonts/PTSansBold.ttf") format("truetype");
  font-weight: normal;
  font-weight: normal;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  min-width: 320px;
  text-align: left;
  background-color: #FFF;
}

.header .wrapper {
  padding: 0 100px 30px 100px;
}

.header__top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px 12px 5px 12px;
}

.header__nav {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font: bold 16px "PT Sans", sans-serif;
  text-transform: uppercase;
}

.header__action {
  position: absolute;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 10px;
}

.logo {
  padding-top: 3px;
}

.logo__title {
  padding: 0;
  font-size: 14px;
  line-height: 32px;
  color: #747688;
}

.search {
  position: relative;
  -webkit-flex-basis: 41%;
      -ms-flex-preferred-size: 41%;
          flex-basis: 41%;
  margin-left: 42px;
  line-height: 32px;
}

.search__input {
  width: 100%;
  height: 40px;
  padding: 10px;
  padding-right: 20px;
  line-height: 40px;
  letter-spacing: 0.3px;
  border: 1px solid #b9b8bd;
  border-radius: 4px;
}

.search__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 100%;
  font-size: 0;
  background-color: transparent;
  border: none;
  background-image: url(../img/lupe-search.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.contacts {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  padding-top: 3px;
}

.contacts__phone {
  margin-right: 15px;
  font-size: 23px;
  color: #181616;
}

.contacts__info {
  color: #2b3056;
}

.contacts__info p {
  padding: 0;
}

.contacts__info span {
  color: #cb944c;
}

.menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 300px;
  list-style: none;
  border-top: 1px solid #dddfdf;
  border-bottom: 1px solid #dddfdf;
}

.menu__item {
  position: relative;
}

.menu__item:hover > .dropdown-menu {
  display: block;
}

.menu__link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 10px;
  text-align: center;
  position: relative;
  font-family: 'PT Sans Bold';
}

.menu__link--dropdown {
  padding-left: 30px;
  padding-right: 30px;
  background-image: linear-gradient(45deg, transparent 40%, #cb944c 40%, #cb944c 65%, transparent 65%), linear-gradient(315deg, transparent 40%, #cb944c 40%, #cb944c 65%, transparent 65%);
  background-position: 94.5% 24px, 97% 24px;
  background-size: 6px 6px, 6px 6px, 1px 1px;
  background-repeat: no-repeat;
}

.menu__link--dropdown:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 12px;
  background-image: url(../img/dropdown.png);
  background-repeat: no-repeat;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.dropdown-menu {
  position: absolute;
  top: 115%;
  z-index: 5;
  display: none;
  min-width: 242px;
  padding-top: 15px;
  padding-bottom: 19px;
  list-style: none;
  font-weight: normal;
  font-size: 15px;
  text-transform: none;
  background-color: #fff;
  border: 1px solid #dddfdf;
  border-radius: 3px;
  box-shadow: 1.5px 2.598px 1px 0 rgba(108, 104, 104, 0.33);
  transition: all 0.2s linear;
}

.dropdown-menu:before {
  content: '';
  position: absolute;
  top: -5%;
  right: -5%;
  z-index: 0;
  width: 110%;
  height: 110%;
}

.dropdown-menu__item {
  position: relative;
  transition: all 0.2s linear;
}

.dropdown-menu__item:hover > .dropdown-menu__submenu {
  display: block;
}

.dropdown-menu__item:before {
  content: '';
  position: absolute;
  top: 11px;
  left: 14px;
  width: 6px;
  height: 6px;
  border: 1px solid #cb944c;
  border-radius: 50%;
}

.dropdown-menu__item:hover {
  background-color: #e9e9ea;
}

.dropdown-menu__link {
  display: block;
  padding: 5px 30px;
  line-height: 20px;
}

.dropdown-menu__title {
  padding: 0 15px 5px 15px;
  font-weight: bold;
  font-size: 16px;
  color: #cb944c;
  text-transform: uppercase;
}

.dropdown-menu__submenu {
  top: -35%;
  right: -103%;
  z-index: 10;
}

.dropdown-menu__arrow {
  position: absolute;
  top: 6px;
  right: 15px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.basket {
  font-size: 14px;
  letter-spacing: 0.4px;
}

.basket__ico {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 8px;
  vertical-align: middle;
}

.basket__count {
  margin-right: 5px;
  padding: 3px 4px;
  color: #fff;
  background-color: #cb944c;
  border-radius: 50%;
}

.basket__price {
  font-size: 16px;
  font-family: 'PT Sans Bold';
}

.login {
  margin-right: 5px;
  margin-left: 18px;
}

.login__ico {
  display: inline-block;
  margin-right: 9px;
  vertical-align: middle;
}

.mobile-menu {
  display: none;
}

.mobile-menu__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  list-style: none;
  background-color: #f0f1f6;
}

.mobile-menu__item {
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  width: 54px;
  height: 40px;
  transition: all 0.2s linear;
}

.mobile-menu__item--active, .mobile-menu__item:hover {
  background-color: #3eade2;
}

.mobile-menu__item--active svg, .mobile-menu__item:hover svg {
  fill: #f0f1f6;
}

.mobile-menu__link {
  display: block;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.ico {
  display: block;
  width: 20px;
  height: 20px;
}

.ico svg {
  fill: #dbdbdc;
}

@media screen and (max-width: 1366px) {
  .search {
    -webkit-flex-basis: 35%;
        -ms-flex-preferred-size: 35%;
            flex-basis: 35%;
    margin-left: auto;
  }
  .header__action {
    position: static;
    margin-left: auto;
  }
  .header .wrapper {
    padding: 0 15px 20px 15px;
  }
  .menu {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding-right: 0;
  }
}

@media screen and (max-width: 991px) {
  .logo {
    padding-top: 0;
  }
  .logo img {
    width: 179px;
    height: 23px;
  }
  .logo__title {
    font-size: 12.7px;
    line-height: 24px;
  }
  .search {
    -webkit-flex-basis: 31%;
        -ms-flex-preferred-size: 31%;
            flex-basis: 31%;
    margin-left: 42px;
  }
  .search__input {
    height: 30px;
    font-size: 10px;
    line-height: 30px;
  }
  .search__btn {
    background-size: 30%;
  }
  .contacts {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 0;
  }
  .contacts__phone {
    font-size: 15.24px;
  }
  .contacts__info {
    margin-top: -5px;
  }
  .contacts__info p {
    font-size: 10px;
    line-height: 13px;
  }
  .header__top {
    padding: 23px 17px 0 15px;
  }
  .header__nav {
    font-size: 12.7px;
  }
  .header__action {
    margin-top: -4px;
    padding: 0 6px 4px 10px;
  }
  .basket {
    font-size: 10.16px;
  }
  .basket__count {
    margin-right: 4px;
  }
  .basket__price {
    font-size: 12.7px;
  }
  .basket__ico {
    margin-right: 1px;
    background-size: 70%;
  }
  .login {
    margin-right: 12px;
    margin-left: 15px;
  }
  .login__ico {
    margin-right: 4px;
    background-size: 85%;
  }
  .menu {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .menu__link {
    padding: 15px 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu__link--dropdown {
    padding-left: 30px;
    padding-right: 30px;
    background-position: 94.5% 21px, 97% 21px;
  }
}

@media screen and (max-width: 767px) {
  .search,
  .contacts,
  .header__nav {
    display: none;
  }
  .header .wrapper,
  .content .wrapper {
    padding-right: 0;
    padding-left: 0;
  }
  .header .wrapper {
    padding-bottom: 15px;
  }
  .mobile-menu {
    display: block;
  }
  .header__top {
    padding: 13px 12px 0 20px;
  }
}

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer {
  height: 80px;
  text-align: left;
  width: 100%;
  min-width: 320px;
  -ms-flex-order: 3;
      order: 3;
  -webkit-order: 3;
}

.main-wrapper {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  padding: 0 0 0 0;
  overflow: hidden;
  -ms-flex-pack: start;
}

.wrapper {
  position: relative;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 43px 0 43px;
}

img {
  display: block;
  width: 100%;
}

/* titles */
p {
  padding: 15px 0 15px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #2b3056;
}

h1 {
  padding: 15px 0 15px 0;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  color: #171717;
}

h2 {
  padding: 15px 0 15px 0;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  line-height: 37px;
  color: #171717;
}

h3 {
  padding: 15px 0 15px 0;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  font-size: 28px;
  line-height: 32px;
  color: #171717;
}

/* text position */
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.nowrap {
  white-space: nowrap !important;
}

/* loader */
.loaded .main-wrapper {
  visibility: hidden;
}

.icon-load {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-left: -20px;
  background: url(../img/loader.gif) no-repeat left top;
}

.loaded .icon-load {
  display: block;
}

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  min-width: 320px;
  text-align: left;
  background: #FFF;
}

.slide {
  position: relative;
}

.slide__title {
  position: absolute;
  top: 50%;
  left: 70px;
  max-width: 500px;
  padding: 10px 30px 22px 32px;
  font-size: 42.5px;
  line-height: 48px;
  color: #fff;
  background-color: #cb944c;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.88;
}

.slider-prev {
  left: 43px;
  background-color: #cb944c;
  stroke: #FFFFFF;
}

.slider-prev:hover svg {
  fill: #cb944c;
  stroke: #cb944c;
}

.slider-next {
  right: 43px;
  background-color: #cb944c;
  stroke: #FFFFFF;
}

.slider-next:hover svg {
  fill: #cb944c;
  stroke: #cb944c;
}

.slider-arrow {
  position: absolute;
  top: calc(50% - 37.5px);
  z-index: 1;
  width: 37px;
  height: 128px;
  padding: 0;
  font-size: 0;
  border: none;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.88;
  transition: all 0.2s linear;
}

.slider-arrow svg {
  width: 14px;
  height: 28px;
  stroke-width: 10;
}

.slider-arrow:hover {
  background-color: #fff;
}

.slick-dots {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 37px;
  list-style: none;
}

.slick-dots button {
  width: 18px;
  height: 18px;
  margin: 10px;
  font-size: 0;
  background-color: #cb944c;
  border: none;
  border-radius: 50%;
  opacity: 0.33;
  transition: all 0.2s linear;
}

.slick-dots button:hover {
  opacity: 1;
}

.slick-active button {
  opacity: 1;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    min-height: 100hv;
  }
}

@media screen and (max-width: 1366px) {
  .wrapper {
    padding: 0 15px;
  }
  .slider-prev {
    left: 15px;
  }
  .slider-next {
    right: 15px;
  }
}

@media screen and (max-width: 991px) {
  .slide__title {
    left: 33px;
    max-width: 290px;
    padding: 8px 15px 9px 15px;
    font-size: 22.86px;
    line-height: 24.12px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .slider-arrow {
    width: 21px;
    height: 65px;
  }
  .slider-arrow svg {
    width: 7px;
    height: 14px;
    stroke-width: 20;
  }
  .slider-prev svg,
  .slider-next svg {
    width: 16px;
  }
}

@media screen and (max-width: 767px) {
  .slider-arrow {
    top: 50%;
  }
  .slider-prev {
    left: 0;
  }
  .slider-next {
    right: 0;
  }
}

@media screen and (max-width: 520px) {
  .slide__title {
    top: 50%;
    left: 27px;
    max-width: 190px;
    padding: 5px 15px 5px 8px;
    font-size: 16.2px;
    line-height: 17.78px;
  }
  .slider-arrow {
    width: 20px;
    height: 28px;
  }
  .slider-prev,
  .slider-next {
    background-size: 40%;
  }
}

/*# sourceMappingURL=style.css.map */